{% extends "base.html" %}
{% load static %}
{% block title %}AI Lecturer{% endblock %}
{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="{% static 'img/lnu_logo.png' %}" alt="" width="150" height="auto">
    <h1 class="display-5 fw-bold text-body-emphasis">AI Lecturer</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">AI-довідник допоможе знайти потрібну інформацію з навчальних програм за кілька секунд</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a class="btn btn-info btn-lg px-4 gap-3" href="{% url 'courses:my_courses' %}">Відкрити довідник</a>
        </div>
    </div>
</div>
{% endblock %}