{% extends "base.html" %}

{% load static %}

{% block title %}Курси | AI Lecturer{% endblock %}

{% block content %}
<section class="py-xl-8 py-6">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 col-md-10 col-12 mx-auto">
                <div class="d-flex flex-column gap-2 text-center mb-xl-7 mb-3">
                    <h2 class="h1 mb-0">Категорії курсів</h2>
                </div>
            </div>
        </div>
        <section id="department_choiсe">
            <h3 class="d-flex flex-column gap-2 text-center mb-1 px-xl-5">Виберіть
                кафедру</h3>
            <div class="row gy-4 mb-5">
                {% for department in departments%}
                <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                    <div class="card-hover-svg card card-body d-flex flex-column gap-2">
                        <div>
                            <span class="icon-shape icon-xxl">
                                <img class="d-block mx-auto mb-4" src="{% static 'img/lnu_logo.png' %}" alt=""
                                    width="64" height="auto">
                            </span>
                        </div>
                        <div>
                            <h5 class="mb-0 department-name">{{ department.name}}</h5>
                            <span class="text-gray-500">
                                <span class="fw-bold">{{ department.courses.count }}</span>
                                курсів
                            </span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
        <section id="course_choice">
            <h3 class="d-flex flex-column gap-2 text-center mb-1 px-xl-5">Виберіть курс</h3>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 gy-5 gy-md-7 mb-5">
                {% for course in courses %}
                <div class="col" data-department="{{ course.department.name }}">
                    <div class="card h-100">
                        <div class="card-body d-flex flex-column pb-0">
                            <div class="icon-lg bg-white text-primary rounded-circle mb-4 mt-n5">
                                <i class="bi bi-stack fa-fw fs-5"></i>
                            </div>
                            <h5 class="mb-3">{{ course.name }}</h5>
                            <p class="mt-auto">
                                Викладач:
                                {% if course.lecturer.first_name or course.lecturer.last_name %}
                                {{ course.lecturer.first_name|default_if_none:"" }}
                                {{ course.lecturer.last_name|default_if_none:"" }}
                                {% else %}
                                {{ course.lecturer|default:"" }}
                                {% endif %}
                            </p>
                        </div>
                        <div class="card-footer mt-auto pt-2">
                            <a class="icon-link icon-link-hover"
                                href="{% url 'courses:show_overview' course.id %}">Відкрити<i
                                    class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
        <div id="no-courses-message" style="display:none; text-align:center; margin-top: 2rem;">
            <h3>На цій кафедрі поки що немає курсів</h3>
        </div>
</section>
{% endblock %}